@charset "UTF-8";

// Основные настройки модуля.
.#{$grid-config-module-name} {
    min-width: $grid-config-module-width-min;
    max-width: $grid-config-module-width-max;
    width: $grid-config-module-width-default;

    // Настройки интервалов родительского элемента.
    @for $i from 1 through $grid-config-module-count {
        &[#{$grid-option-spacing-name}~="t#{$i}"] {
            padding-top: $grid-config-module-spacing * $i;
        }

        &[#{$grid-option-spacing-name}~="r#{$i}"] {
            padding-right: $grid-config-module-spacing * $i;
        }

        &[#{$grid-option-spacing-name}~="b#{$i}"] {
            padding-bottom: $grid-config-module-spacing * $i;
        }

        &[#{$grid-option-spacing-name}~="l#{$i}"] {
            padding-left: $grid-config-module-spacing * $i;
        }

        &[#{$grid-option-spacing-name}~="y#{$i}"] {
            padding-top: $grid-config-module-spacing * $i;
            padding-bottom: $grid-config-module-spacing * $i;
        }

        &[#{$grid-option-spacing-name}~="x#{$i}"] {
            padding-right: $grid-config-module-spacing * $i;
            padding-left: $grid-config-module-spacing * $i;
        }
    }

    // Настройки интервалов дочернего элемента.
    @for $i from 1 through $grid-config-region-count {
        &[#{$grid-option-spacing-name}~="#{$grid-config-region-prefix}t#{$i}"] > .#{$grid-config-region-name} {
            padding-top: $grid-config-region-spacing * $i;
        }

        &[#{$grid-option-spacing-name}~="#{$grid-config-region-prefix}r#{$i}"] > .#{$grid-config-region-name} {
            padding-right: $grid-config-region-spacing * $i;
        }

        &[#{$grid-option-spacing-name}~="#{$grid-config-region-prefix}b#{$i}"] > .#{$grid-config-region-name} {
            padding-bottom: $grid-config-region-spacing * $i;
        }

        &[#{$grid-option-spacing-name}~="#{$grid-config-region-prefix}l#{$i}"] > .#{$grid-config-region-name} {
            padding-left: $grid-config-region-spacing * $i;
        }

        &[#{$grid-option-spacing-name}~="#{$grid-config-region-prefix}y#{$i}"] > .#{$grid-config-region-name} {
            padding-top: $grid-config-region-spacing * $i;
            padding-bottom: $grid-config-region-spacing * $i;
        }

        &[#{$grid-option-spacing-name}~="#{$grid-config-region-prefix}x#{$i}"] > .#{$grid-config-region-name} {
            padding-right: $grid-config-region-spacing * $i;
            padding-left: $grid-config-region-spacing * $i;
        }
    }
}

// Основные настройки региона.
.#{$grid-config-region-name} {
    min-width: $grid-config-region-width-min;
    max-width: $grid-config-region-width-max;
    width: $grid-config-region-width-default;

    // Настройки интервалов родительского элемента.
    &[#{$grid-option-spacing-name}="none"] {
        padding: 0 !important;
    }

    @for $i from 1 through $grid-config-region-count {
        &[#{$grid-option-spacing-name}~="t#{$i}"] {
            padding-top: $grid-config-region-spacing * $i;
        }

        &[#{$grid-option-spacing-name}~="r#{$i}"] {
            padding-right: $grid-config-region-spacing * $i;
        }

        &[#{$grid-option-spacing-name}~="b#{$i}"] {
            padding-bottom: $grid-config-region-spacing * $i;
        }

        &[#{$grid-option-spacing-name}~="l#{$i}"] {
            padding-left: $grid-config-region-spacing * $i;
        }

        &[#{$grid-option-spacing-name}~="y#{$i}"] {
            padding-top: $grid-config-region-spacing * $i;
            padding-bottom: $grid-config-region-spacing * $i;
        }

        &[#{$grid-option-spacing-name}~="x#{$i}"] {
            padding-right: $grid-config-region-spacing * $i;
            padding-left: $grid-config-region-spacing * $i;
        }
    }

    // Настройки интервалов дочернего элемента.
    @for $i from 1 through $grid-config-region-count {
        &[#{$grid-option-spacing-name}~="#{$grid-config-string-prefix}t#{$i}"] > .#{$grid-config-string-name} {
            padding-top: $grid-config-string-spacing * $i;
        }

        &[#{$grid-option-spacing-name}~="#{$grid-config-string-prefix}r#{$i}"] > .#{$grid-config-string-name} {
            padding-right: $grid-config-string-spacing * $i;
        }

        &[#{$grid-option-spacing-name}~="#{$grid-config-string-prefix}b#{$i}"] > .#{$grid-config-string-name} {
            padding-bottom: $grid-config-string-spacing * $i;
        }

        &[#{$grid-option-spacing-name}~="#{$grid-config-string-prefix}l#{$i}"] > .#{$grid-config-string-name} {
            padding-left: $grid-config-string-spacing * $i;
        }

        &[#{$grid-option-spacing-name}~="#{$grid-config-string-prefix}y#{$i}"] > .#{$grid-config-string-name} {
            padding-top: $grid-config-string-spacing * $i;
            padding-bottom: $grid-config-string-spacing * $i;
        }

        &[#{$grid-option-spacing-name}~="#{$grid-config-string-prefix}x#{$i}"] > .#{$grid-config-string-name} {
            padding-right: $grid-config-string-spacing * $i;
            padding-left: $grid-config-string-spacing * $i;
        }
    }
}

// Основные настройки строки.
.#{$grid-config-string-name} {
    display: flex;
    min-width: $grid-config-string-width-min;
    max-width: $grid-config-string-width-max;
    width: $grid-config-string-width-default;
    margin: 0 auto;

    // Настройки обтекания элемента.
    &[#{$grid-option-wrap-name}="true"] {
        flex-wrap: wrap;
    }

    // Настройки интервалов элемента.
    &[#{$grid-option-spacing-name}="none"] {
        padding: 0 !important;
    }

    @for $i from 1 through $grid-config-string-count {
        &[#{$grid-option-spacing-name}~="t#{$i}"] {
            padding-top: $grid-config-string-spacing * $i;
        }

        &[#{$grid-option-spacing-name}~="r#{$i}"] {
            padding-right: $grid-config-string-spacing * $i;
        }

        &[#{$grid-option-spacing-name}~="b#{$i}"] {
            padding-bottom: $grid-config-string-spacing * $i;
        }

        &[#{$grid-option-spacing-name}~="l#{$i}"] {
            padding-left: $grid-config-string-spacing * $i;
        }

        &[#{$grid-option-spacing-name}~="y#{$i}"] {
            padding-top: $grid-config-string-spacing * $i;
            padding-bottom: $grid-config-string-spacing * $i;
        }

        &[#{$grid-option-spacing-name}~="x#{$i}"] {
            padding-right: $grid-config-string-spacing * $i;
            padding-left: $grid-config-string-spacing * $i;
        }
    }

    // Настройки смещения дочернего элемента.
    @for $i from 1 through $grid-config-column-count {
        &[#{$grid-option-offset-name}~="#{$grid-config-column-prefix}r#{$i}"] > .#{$grid-config-column-name} {
            margin-right: ($grid-config-string-width-default/$grid-config-column-count) * $i;
        }

        &[#{$grid-option-offset-name}~="#{$grid-config-column-prefix}l#{$i}"] > .#{$grid-config-column-name} {
            margin-left: ($grid-config-string-width-default/$grid-config-column-count) * $i;
        }

        &[#{$grid-option-offset-name}~="#{$grid-config-column-prefix}x#{$i}"] > .#{$grid-config-column-name} {
            margin-right: ($grid-config-string-width-default/$grid-config-column-count) * $i;
            margin-left: ($grid-config-string-width-default/$grid-config-column-count) * $i;
        }
    }

    // Настройки интервалов дочернего элемента.
    @for $i from 1 through $grid-config-column-count {
        &[#{$grid-option-spacing-name}~="#{$grid-config-column-prefix}t#{$i}"] > .#{$grid-config-column-name} {
            padding-top: $grid-config-column-spacing * $i;
        }

        &[#{$grid-option-spacing-name}~="#{$grid-config-column-prefix}r#{$i}"] > .#{$grid-config-column-name} {
            padding-right: $grid-config-column-spacing * $i;
        }

        &[#{$grid-option-spacing-name}~="#{$grid-config-column-prefix}b#{$i}"] > .#{$grid-config-column-name} {
            padding-bottom: $grid-config-column-spacing * $i;
        }

        &[#{$grid-option-spacing-name}~="#{$grid-config-column-prefix}l#{$i}"] > .#{$grid-config-column-name} {
            padding-left: $grid-config-column-spacing * $i;
        }

        &[#{$grid-option-spacing-name}~="#{$grid-config-column-prefix}y#{$i}"] > .#{$grid-config-column-name} {
            padding-top: $grid-config-column-spacing * $i;
            padding-bottom: $grid-config-column-spacing * $i;
        }

        &[#{$grid-option-spacing-name}~="#{$grid-config-column-prefix}x#{$i}"] > .#{$grid-config-column-name} {
            padding-right: $grid-config-column-spacing * $i;
            padding-left: $grid-config-column-spacing * $i;
        }
    }
}

// Основные настройки колонки.
.#{$grid-config-column-name} {

    @for $i from 1 through $grid-config-column-count {
        &[#{$grid-option-size-name}="#{$i}"] {
            min-width: ($grid-config-string-width-min / $grid-config-column-count) * $i;
            max-width: ($grid-config-string-width-max / $grid-config-column-count) * $i;
            width: ($grid-config-string-width-default / $grid-config-column-count) * $i;
        }
    }

    // Настройки смещения элемента.
    @for $i from 1 through $grid-config-column-count {
        &[#{$grid-option-offset-name}~="r#{$i}"] {
            margin-right: ($grid-config-string-width-default/$grid-config-column-count) * $i;
        }

        &[#{$grid-option-offset-name}~="l#{$i}"] {
            margin-left: ($grid-config-string-width-default/$grid-config-column-count) * $i;
        }

        &[#{$grid-option-offset-name}~="x#{$i}"] {
            margin-right: ($grid-config-string-width-default/$grid-config-column-count) * $i;
            margin-left: ($grid-config-string-width-default/$grid-config-column-count) * $i;
        }
    }

    // Настройки интервалов элемента.
    &[#{$grid-option-spacing-name}="none"] {
        padding: 0 !important;
    }

    @for $i from 1 through $grid-config-column-count {
        &[#{$grid-option-spacing-name}~="t#{$i}"] {
            padding-top: $grid-config-column-spacing * $i;
        }

        &[#{$grid-option-spacing-name}~="r#{$i}"] {
            padding-right: $grid-config-column-spacing * $i;
        }

        &[#{$grid-option-spacing-name}~="b#{$i}"] {
            padding-bottom: $grid-config-column-spacing * $i;
        }

        &[#{$grid-option-spacing-name}~="l#{$i}"] {
            padding-left: $grid-config-column-spacing * $i;
        }

        &[#{$grid-option-spacing-name}~="y#{$i}"] {
            padding-top: $grid-config-column-spacing * $i;
            padding-bottom: $grid-config-column-spacing * $i;
        }

        &[#{$grid-option-spacing-name}~="x#{$i}"] {
            padding-right: $grid-config-column-spacing * $i;
            padding-left: $grid-config-column-spacing * $i;
        }
    }
}
